/build/
/deps/
/portlibs32/
/reference/
/dist/
/test-artifacts/
/docs/
/assets/
/game-data/
/sdmc/
/release/
/build-output.log
/codboz_native.elf
/codboz_native.nsp
/codboz_native.build
/source/boz_build_id.h
/launcher/build/
/launcher/romfs/
/launcher/*.elf
/launcher/*.nro
/launcher/*.nacp
/launcher/*.jpg
/launcher/*.png
*.nro
*.nsp
*.nso
*.elf
*.o
*.d
*.map
*.log
*.part
*.upload
*.mp3
*.wav
*.ogg
*.idx
*.bin
*.zip
*.state
/config.txt
/title_id.txt
/startup_stage.txt
/save/
__pycache__/
*.pyc
.venv/
.DS_Store
Thumbs.db
*.apk
*.obb
*.dz
*.s3e*
